.navbtn{
    font-size: 20px!important;
    margin-left: 0px!important;
    margin-right: 0px!important;   
}
.mobileimage{
    max-width: 50%!important;
}

.aboutContainer{
    background-color: #f3e6f5;
    border-radius: 50px!important;
    border-style: outset!important;
    border-color: #ce93d8!important;
    border-width: 5px!important;
    padding: 50px!important;
    margin-top: 5%!important;
    margin-bottom: 5%!important;
}
.clientsContainer{
    background-color: #e3f0ef;
    border-radius: 50px!important;
    border-style: outset!important;
    border-color: #64ffda!important;
    border-width: 5px!important;
    padding: 50px!important;
    margin-top: 10%!important;
    margin-bottom: 10%!important;
}
.projectsContainer{
    background-color: #f3e5e9;
    border-radius: 50px!important;
    border-style: outset!important;
    border-color: #ff80ab!important;
    border-width: 5px!important;
    padding: 10px!important;
    margin-top: 5%!important;
    margin-bottom: 5%!important;
}
.pads{
    margin-top: 5px!important;
    margin-bottom: 5px!important;
}
.semimobileimage{
    max-width: 75%!important;

}
.space{
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-between!important;
    font-size: 20px!important;
    margin-top: 10%!important;
    margin-bottom: 10%!important;   
}
.footerformat{ 
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin-bottom: 10%!important;   
    
}
.bradius{
    border-radius: 25px!important;
    border-style: outset!important;
    border-color: grey!important;
    border-width: 1px!important;
}
.layer{
    max-width: 49%!important;

}
.btnbtn {
    /*
      All of the base styles have
      moved to the “CSS” tab above.
    */
    transition: transform 250ms!important;
  }
  
  .btnbtn:hover {
    transform: translateY(-10px)!important;
  }